<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>This is your random number <%= random%></h1>

    <!-- One way to do it -->
    <% if(random % 2 === 0) {%>
        <h2>This is an even numer!</h2> 
    <%} else { %>
        <h2>This is an odd number!</h2>  
    <% } %> 

    <!-- second way to do it -->
    <h3><%= random%2===0 ? 'EVEN' : 'ODD' %></h3>

</body>
</html>