/*font-family*/

p {
	font-family: Indie Flower;
	font-size: 3.0em;
}

p:nth-of-type(2){
	font-weight: bold;
	line-height: 2;
}

p:nth-of-type(odd){
	line-height: 2;
	text-align: center;
	text-decoration: underline;
}

h1 {
	font-family: Dancing Script;
	font-size: 10.0em;
	text-align: right; 
	text-decoration: line-through;
}

/*font-size*/

body {
	font-size: 10px;
}

span {
	font-size: 1.7em;
}
