<%- include('partials/head') %> 

    <%- include('partials/navbar') %> 
    <h1>Working with render <%= 'Hello World'.toUpperCase() %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Cupiditate tempora, eos quo blanditiis repellat quidem 
        libero eveniet sed fugiat consequatur, ut recusandae ab. 
        Repellat inventore distinctio totam aut nobis reprehenderit!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Cupiditate tempora, eos quo blanditiis repellat quidem 
        libero eveniet sed fugiat consequatur, ut recusandae ab. 
        Repellat inventore distinctio totam aut nobis reprehenderit!
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Cupiditate tempora, eos quo blanditiis repellat quidem 
        libero eveniet sed fugiat consequatur, ut recusandae ab. 
        Repellat inventore distinctio totam aut nobis reprehenderit!
    </p>

<%- include('partials/foot') %>  