/*Element Selector*/
label{
	background-color:rgb(40,250,50);
}

/*Class Selector*/ 
.hello{
	text-shadow: 2px 2px 5px green;
	color: green;
}

/*ID Selector*/ 
#grains{
	font-weight: bold;
	color: purple;

}

/* Star Selector*/ 
* {
	border: 2px solid black;
}

/* Desendants Selector */ 

li a {
	color: red;
}

/* adjecent selector */ 

h4 + ul {
	border: 4px solid red;
}

/* attribute selector */ 

a[href="http://www.google.com"] {
	background: blue;
	color: white;
}

input[type="checkbox"]:checked{
	box-shadow: 0 0 0 6px red;
}

input:checked + label{
	color: red;
}

/* nth of type */ 

li:nth-of-type(3){
	background-color: lightgrey;
}