<% layout('layouts/boilerplate.ejs') %>
<div class="container d-flex justify-content-center alig-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1486082570281-d942af5c39b7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" 
                alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                        <button class="btn btn-success btn-block">Login</button>
                    </form>
                    <div class="my-3">
                        Do not have an account?
                        <span class="inline-block">
                            <a href="/register">Register</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>